*{ padding : 0;
    margin : 0;
}

@import "footer.scss";

body {
    background : white;
    color : black;
}


.header

  {height:10vh;

   width:1000px;     

  background-color:white;

  margin:0;display:flex;

  justify-content:space-between;

  align-items:center}

.logo 
  {margin-left:30px;

  font-size:40px;

  font-family:"Helvetica, sans-serif);     ";

  color:#000000;}

.info
  { margin-left:30px;

  font-size:30px;

  font-family:"Helvetica, sans-serif";

  color:black ;}


.info1
  {   
  margin-left:30px;

  font-size:20px;

  font-family:"Helvetica, sans-serif";

  color: blue ;}



.info2
  { 
   margin-left:30px;

  font-size:30px;

  font-family:"Helvetica, sans-serif";

  color: blue ;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding: 1px;
}

.grid-item {
  background-color: white;
  
  
  padding: 2px;
  font-size: 5px;
  text-align: center;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color:white;
  padding: 1px;
}

.grid-item1 {
  background-color: white; 
  padding: 2px;
  text-align: left;
   
}

.grid-item2 {
  background-color: white; 
  padding: 2px;
  text-align: right;
   
}

.info3
  {   
  
  font-size:20px;

  font-family:"Helvetica, sans-serif";

  color: black;}



.navcontainer ul
{
  padding: 0;

  list-style-type: none;

  text-align: center;

  width: 1200px;
}


.navcontainer ul li { 

  display: inline;

  margin-left: 160px;

  margin-top: 140px;

  width: 1200px;


 }

.navcontainer ul li a

{
  text-decoration: none;

  padding: .2em 1em;

   color: #fff;

  background-color: #036;

  width: 1200px;
}

 .navcontainer ul li a:hover
{
  color: #fff;

  background-color: #369;
}


.line-1 {
  height: 2px;
  background: grey;
}



.flex__example1
{
 height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start-flex;
    flex-wrap: wrap;
    border-bottom: 2px grey;
    
}

.containera {
      
    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-bottom:1px solid ##C0C0C0;
}

.carda {
    background-color: white;
    
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-basis: 180px;
    overflow: hidden;
}

.cardb {
    background-color: white;
    
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    
    align-items: start;
    flex-basis: 180px;
    overflow: hidden;

     
    flex-direction: column;
  justify-content: start;
    
}
.cardc{
    background-color: white;
    
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    
    align-items: start;
    flex-basis: 180px;
    overflow: hidden;   
    
    flex-direction: column;
 
  justify-content: flex-start;
    
    
}

.cardd
 {
    background-color: white;
    
    border-radius: 5px;
    min-width: 320px;
    min-height: 20px;
    margin: 10px;
    display: flex;
    
    
    flex-basis: 90px;
    overflow: hidden;

   align-content: space-between; 
    flex-direction: column;
  justify-content: space-between;
}

.carde
 {
    background-color: white;
    
    border-radius: 5px;
    min-width: 320px;
    min-height: 20px;
    margin: 10px;
    display: flex;
    align-items: end;
    flex-basis: 90px;
    overflow: hidden;
    
} 


